.SelectionTiles .SelectionTiles-Tile {
  text-align: center;
  height: 100px;
  cursor: pointer;
}

.SelectionTiles .col {
  margin-bottom: 1rem;
}

.SelectionTiles .col:last-child {
  margin-bottom: 0;
}