:root {
  --color-error: red;
  --color-label: #626d7a;
  --color-title: #0d6efd;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form label {
  color: var(--color-label);
  font-weight: 500;
}

.container {
  z-index: 0;
}

.error {
  color: var(--color-error);
}

.page-title {
  margin: 40px 0;
}

.title {
  color: var(--color-title);
}
